apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: true
    editable: true
    jsonData:
      httpMethod: GET
      nodeGraph:
        enabled: true
      tracesToMetrics:
        datasourceUid: ''
      serviceMap:
        datasourceUid: ''
